fastapi
uvicorn[standard]
pymongo
motor
python-dotenv
pandas
numpy
scikit-learn
joblib
lightgbm
resend
# auth and validation dependencies
passlib[bcrypt]
bcrypt==4.0.1
PyJWT[crypto]
email-validator
pydantic[email]
